@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
html, body {
  @apply bg-slate-900 text-gray-300;
    /* background-color: #1e1f21;
    color: #999999; */
}